extends layout

block container
    h4.page-header Latest translations
    table.table
        thead
            tr
                td Title
                td Original language
                td Translation language
        tbody

block side-panel
    

block append scripts
