body {
    padding-top: 70px;
}

.view-loading-mask {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: yellow;
    opacity: .5;    
}

.view-loading-mask span {
    text-align: center;
    top: 20%;
    position: absolute;
    width: 100%;
    font-size: 30px;
}

.translate-table {
    font-size: 12px;
}

.translate-table .time {
    max-width: 40%;
    font-size: 9px;
    color: #888;
    width: 10%;
}

.translate-table .original {
    width: 40%;
    border-right: 1px solid;
}


.translate-table .translation {
    width: 40%;
}

.translate-table .tools {
    width: 10%;
}


.translation-edit-item {
    font-size: 12px;
}

.translation-edit-bottom-panel {
    color: #888;
    font-size: 11px;
    margin-top: 5px;
}

.votebox a:hover {
    text-decoration: none;
    color: white;
}

.rating {
    cursor: pointer;
    background: lightgrey;
    width: 20px;
    height: 20px;
    right: 1px;
    position: absolute;
    text-align: center;
}

.rating-up {
    position: absolute;
    top: -20px;
    right: 1px;
    color: black;
    background: lightgreen;
    text-align: center;
    width: 20px;
    height: 20px;
}

.rating-down {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 1px;
    color: black;
    background: lightpink;
}

.growl {
    margin-top: 50px;
    z-index: 9999;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:3s linear all;
    -moz-transition:3s linear all;
    -o-transition:3s linear all;
    transition:3s linear all;
}

ul.translation-items {
    list-style: none;
    margin: 0;
    padding: 0;
    /*border-bottom: 1px solid lightgrey;*/
}

.translation-table tr > td
{
  padding: 10px 0;
}

.translation-table tr
{
  border-top: solid 1px grey;
}


.translation-element {
    position: relative;
    border: 1px solid lightgrey;
    margin: 0px 0 5px 0;
}

.translation-element .text {
    padding: 0 5px;
}

.translation-element .info {
    list-style: none;
    margin: 0;
    padding: 3px 0;
    background: #eee;
    font-size: 10px;

}

.translation-element .info a {
    color: black;
}

.translation-element .info li {
    margin: 0 10px;
    display: inline;
}

.translation-pager {
    text-align: center;
    margin-bottom: 20px;
}

.translation-pager input {
    width: 25px;
}

.translation-pager a, 
.translation-pager span {
    margin: 0 5px;
}

.translation-table {
    width: 100%;
}

.original .info {
    font-size: 10px;
}

.translation-table .original {
    width: 50%;
    padding: 5px;
    vertical-align: top;
}

.translation-table .original .text {
    height: 100%;
    vertical-align: top;
}

.translation-table .translation {
    width: 50%;
}

.translation-table td {
    vertical-align: top;
}

.translation-table .tools {
    text-align: center;
    padding: 10px 3px;
}

.translation-table .tools a {
    color: black;    
    text-decoration: none;
}

.translation-table .tools a:hover {
    color: #428bca;
    text-decoration: none;
}

.translation-table .tools ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    background: #eee;
}

.translation-edit-dialog {
    margin-bottom: 10px;
}

.translation-table .votebox {
    position: absolute;
    top: 5px;
    right: 20px;
}
